
<div>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip selected routerLink="/recettes">Recettes</mat-chip>
    <mat-chip selected routerLink="/menus">Menus de la semaine</mat-chip>
    <mat-chip selected routerLink="/add-menus">Choix des menus</mat-chip>
    <a href="http://localhost:1337/admin/auth/login"><mat-chip selected>Ajouter une recette</mat-chip></a>
<!--    <mat-chip selected routerLink="/add-recette">Ajouter une recette</mat-chip>-->
<!--    <mat-chip color="primary" selected routerLink="/aliments">Liste des Aliments</mat-chip>-->
<!--    <mat-chip color="accent" selected routerLink="/add-aliment">Ajouter un aliment</mat-chip>-->
  </mat-chip-list>
</div><br><br>
